.hero {
    background-image: url(''); /* Replace this later with your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero h1 {
    font-size: 4em;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .explore-btn {
    padding: 15px 30px;
    background-color: #ff6f00;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
  }
  
  .explore-btn:hover {
    background-color: #ff8c33;
  }
  